In [ ]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from xgboost import XGBRegressor
import pandas as pd
import numpy as np

In [ ]:
test=pd.read_csv('TEST.csv',low_memory=False)

In [ ]:
train=pd.read_csv('TRAIN.csv',low_memory=False)
test=pd.read_csv('TEST.csv',low_memory=False)

dates=pd.to_datetime(train['DayOfWeek'])

month=dates.dt.month
year=dates.dt.year
day=dates.dt.day

train['Month']=month
train['Day']=day
train['Year']=year

train.drop('Date',inplace=True,axis=1)
train.drop('Store',inplace=True,axis=1)

In [ ]:
train['SchoolHoliday']=train['SchoolHoliday'].astype('category')
train['DayOfWeek']=train['DayOfWeek'].astype('category')
train['Month']=train['Month'].astype('category')
train['Day']=train['Day'].astype('category')
train['Year']=train['Year'].astype('category')

In [ ]:
train.info()

In [ ]:
train=pd.get_dummies(data=train,drop_first=True)

In [ ]:
target=train.pop('Sales')

In [ ]:
RFr=XGBRegressor(n_estimators=500,n_jobs=-1)

RFr.fit(train,target)

[13:47:40] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=500,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
param_grid={'n_estimators':[100,200,300,400,500]}
rf=RandomForestRegressor()
gcv_rf=GridSearchCV(rf, param_grid=param_grid,cv=10)
gcv_rf.fit(train,target)

In [ ]:
pred_train=RFr.predict(train)

In [ ]:
np.sqrt(mean_squared_error(pred_train,target))

2595.932189020527

In [ ]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
train=sc.fit_transform(train)
test=sc.transform(test)

In [ ]:
dates=pd.to_datetime(test['DayOfWeek'])

month=dates.dt.month
year=dates.dt.year
day=dates.dt.day

test['Month']=month
test['Day']=day
test['Year']=year

test.drop('Date',inplace=True,axis=1)
test.drop('Store',inplace=True,axis=1)

test['SchoolHoliday']=test['SchoolHoliday'].astype('category')
test['StateHoliday']=test['StateHoliday'].astype('category')
test['DayOfWeek']=test['DayOfWeek'].astype('category')
test['Month']=test['Month'].astype('category')
test['Day']=test['Day'].astype('category')
test['Year']=test['Year'].astype('category')

test=pd.get_dummies(data=test,drop_first=True)

#target_sales=test.pop('Sales')

In [ ]:
test

        Open  Promo  ...  StateHoliday_b  SchoolHoliday_1
0          0      0  ...               1                1
1          1      0  ...               0                0
2          1      1  ...               0                1
3          1      0  ...               0                1
4          1      0  ...               0                1
...      ...    ...  ...             ...              ...
305158     1      1  ...               0                1
305159     1      0  ...               0                0
305160     1      0  ...               0                0
305161     1      0  ...               0                0
305162     1      0  ...               0                0

[305163 rows x 11 columns]

In [ ]:
train.drop(['StateHoliday_c','Customers'],axis=1,inplace=True)

In [ ]:
pred_train=RFr.predict(test)

In [ ]:
pred_train

array([   0.        , 5993.18622914, 7913.76783467, ..., 5969.95091468,
       5993.18622914, 5993.18622914])

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Activation,Flatten


model=Sequential()
model.add(Dense(200,activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(200,activation='relu'))
model.add(Dense(1,activation='relu'))

model.compile(optimizer='adam',
    loss='mean_squared_error',
    metrics=['RootMeanSquaredError'])

In [ ]:
model_history=model.fit(train,target,epochs=100)

Epoch 1/100
22252/22252 [==============================] - 81s 4ms/step - loss: 49836452.0000 - root_mean_squared_error: 7059.4937
Epoch 2/100
22252/22252 [==============================] - 81s 4ms/step - loss: 49836656.0000 - root_mean_squared_error: 7059.5083
Epoch 3/100
 4746/22252 [=====>........................] - ETA: 1:05 - loss: 50025640.0000 - root_mean_squared_error: 7072.8804